.prog-tabela {
  max-width: 95vw;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 8px;
  margin: 2px;
}

.prog-tabela th,
.prog-tabela td {
  border: 1px solid #ddd;
  padding: 2px 4px;
  text-align: center;
}

.prog-tabela th {
  background-color: #1976d2;
  color: #ffffff;
}


.tabela-container {
  padding: 2px;
  overflow-x: auto;
  font-size: 9px;
}
.par {
  background-color: #f5f5f5;
}
.impar {
  background-color: #e6e6e6;
}
.highlight-col {
  background-color: #ffffff;
}