body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 0;
}
.relatorio {
  width: 210mm;
  min-height: 297mm;
  padding: 18px;
  box-sizing: border-box;
  margin: auto;
  background-color: white;
}
.rot-header {
  padding: 4px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #1976d2;
}
.rot-header h1 {
  color: #1976d2;
  margin: 0;
  font-size: 1.5rem;
}
.rot-header img {
  width: 100px;
  margin-left: 50px;
}
.rot-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------- */
.section-tcld {
  height: auto;
  border-radius: 5px;
  border: 1px solid #1976d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}
.section-tcld h2 {
  text-align: center;
  font-size: medium;
  color: #1976d2;
  margin: 0;
}
/* -------------------------- */

.section-programacao {
  height: auto;
  border-radius: 5px;
  border: 1px solid #1976d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}
.section-programacao h2 {
  text-align: center;
  font-size: medium;
  color: #1976d2;
  margin: 0;
}

/* -------------------------- */

.section-retoma {
  height: auto;
  border-radius: 5px;
  border: 1px solid #1976d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}
.section-retoma h2 {
  text-align: center;
  font-size: medium;
  color: #1976d2;
  margin: 0;
}

/* -------------------------- */

.section-evento {
  height: auto;
  border-radius: 5px;
  border: 1px solid #1976d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}
.section-evento h2 {
  text-align: center;
  font-size: medium;
  color: #1976d2;
  margin: 0;
}
@page {
  size: A4 landscape;
  margin: 20mm;
}

.side-table {
  width: auto;
}

.side-table th,
.side-table td {
  border: 1px solid #000;
  padding: 4px 6px;
  text-align: left;
}

.side-table th {
  width: 100px;
}

.footer {
  margin-top: 30px;
  text-align: right;
  font-style: italic;
}
