.relatorio {
  width: 794px;
  min-height: 1123px;
  padding: 18px;
  margin: auto;
  background-color: white;
}
.rot-header {
  padding: 4px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #1976d2;
}
.rot-header h1 {
  color: #1976d2;
  margin: 0;
  font-size: 1.5rem;
}
#pptm {
  width: 70px;
  margin-right: 30px;
}
#ep {
  width: 35px;
  margin-left: 30px;
}
#eneva {
  width: 20px;
  margin-left: 20px;
}
.rot-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------- */
.section-tcld {
  height: auto;
  border-radius: 5px;
  border: 1px solid #1976d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}
.section-tcld h2 {
  text-align: center;
  font-size: medium;
  color: #1976d2;
  margin: 0;
}
/* -------------------------- */

.section-patio {
  height: auto;
  border-radius: 5px;
  border: 1px solid #1976d2;
  justify-content: center;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}
.section-patio h2 {
  text-align: center;
  font-size: medium;
  color: #1976d2;
  margin: 0;
}
.area-patio {
  display: grid;
  grid-template-columns: 1fr 250px;
  width: 100%;
  align-items: stretch;
}
.area-patio-pilha {
  background: #fff;
  border-radius: 4px;
  padding: 3px;
  margin: 5px;
  margin-right: 0;
}
.area-patio-controle {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 5px;
  gap: 6px;
  max-height: 100%;
  overflow-y: auto;
}
.area-patio-umectacao,
.area-patio-polimero,
.area-patio-obs {
  background-color: #fff;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

/* -------------------------- */
.section-programacao {
  height: 255px;
  border-radius: 5px;
  border: 1px solid #1976d2;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}
.section-programacao h2 {
  text-align: center;
  font-size: medium;
  color: #1976d2;
  margin: 0;
}
.section-estoque h2 {
  text-align: center;
  font-size: medium;
  color: #1976d2;
  margin: 0;
}
/* -------------------------- */

.section-retoma {
  height: auto;
  border-radius: 5px;
  border: 1px solid #1976d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}
.section-retoma h2 {
  text-align: center;
  font-size: medium;
  color: #1976d2;
  margin: 0;
}

/* -------------------------- */

.section-evento {
  height: auto;
  border-radius: 5px;
  border: 1px solid #1976d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
  margin-bottom: 5px;
}
.section-evento h2 {
  text-align: center;
  font-size: medium;
  color: #1976d2;
  margin: 0;
}

/* -------------------------- */

.side-table {
  width: auto;
}
.side-table th,
.side-table td {
  border: 1px solid #000;
  padding: 4px 6px;
  text-align: left;
}
.side-table th {
  width: 100px;
}

/* -------------------------- */

.buttons-rot {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
  bottom: 80px;
  right: 25px;
  z-index: 1000;
}

@page {
  size: A4 portrait;
  margin: 5mm;
}
html,
body {
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
@media print {
  html,
  body {
    font-size: 12px;
  }

  .buttons-rot {
    display: none;
  }

  .relatorio {
    width: 210mm;
    min-height: 297mm;
    padding: 18px;
    margin: auto;
    background-color: white;
    box-shadow: none;
    page-break-after: always;
  }

  .rot-header,
  .section-tcld,
  .section-patio,
  .section-programacao,
  .section-retoma,
  .section-evento {
    break-inside: avoid;
  }
}
