.inputs-programacao-bloco {
  padding: 5px;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
}

.inputs-programacao-cabecalho {
  width: 117px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs-programacao-cabecalho-empilha {
  height: 107px;
}

.inputs-programacao-linha {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.inputs-programacao-coluna {
  width: 130px;
  position: relative;
}

.inputs-programacao-dia {
  margin: 0;
  text-align: center;
  font-size: 16px;
  color: #333;
}

.inputs-programacao-input-container {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
}

.inputs-programacao-input {
  width: 100px;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 11px;
}

.inputs-programacao-textarea {
  width: 100%;
  margin-top: 5px;
  font-size: 10px;
  resize: none;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #ccc;
}

.inputs-programacao-textarea-final {
  width: 120px;
  font-size: 10px;
  resize: none;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #ccc;
}

.inputs-programacao-textarea-final-empilha {
  height: 136px;
}

.inputs-programacao-textarea-final-ug {
  height: 160px;
}

.inputs-programacao-dropdown {
  position: absolute;
  background-color: #eceaea;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 10;
  width: 90px;
  max-height: 230px;
  left: 0;
  border-radius: 4px;
  cursor: pointer;
}

.inputs-programacao-dropdown-item {
  font-size: 10px;
  padding: 4px 6px;
  border-bottom: 1px solid #eee;
}

.inputs-programacao-dropdown-item.selected {
  background-color: #e0e0e0;
}

.inputs-programacao-dropdown-checkbox {
  display: block;
  font-size: 10px;
  padding: 4px 6px;
}

.button-save,
.button-pdf {
  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-save:hover,
.button-pdf:hover {
  background-color: #175fa7;
  transform: scale(1.03);
}

.button-save:active, 
.button-pdf:active {
  background-color: #1976d2;
  transform: scale(0.98);
}

.buttons-programacao-retoma {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 10px;
}

.button-add {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button-add:hover {
  transform: scale(1.03);
}

.button-add:active {
  transform: scale(0.98);
}

@media (max-width: 600px) {
  .inputs-programacao-textarea-final {
    width: 245px;
  }
  .inputs-programacao-bloco {
    padding-left: 25px;
    padding-bottom: 25px;
  }
}
