.main-descarregamento {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-infor,
.container-infor2,
.container-infor3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.container-infor2 > div,
.container-infor3 > div {
  flex: 1;
}