.main-taxa-retoma {
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.main-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px 0; 
}

.retoma-header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px; 
    font-size: 14px;
    color: #6a6a6a;
}

.subtext-clicavel {
    cursor: pointer;
    color: #333;
    text-decoration: none; 
    font-weight: normal;
}