.main-retoma-prog {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.main-retoma-prog h3 {
  margin-top: 0;
}
.semana-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.semana-container label {
  font-weight: bold;
}

.semana-container input {
  width: 80px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
