.prog-tabela {
  border-collapse: collapse;
  font-size: 7px;
  margin: 2px;
}

.prog-tabela th,
.prog-tabela td {
  border: 1px solid #ddd;
  padding: 1px 1px;
  text-align: center;
  
}

.prog-tabela th {
  background-color: #1976d2;
  color: #ffffff;
}
.row-fix {
  width: 70px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 0.9;
}
.row-fix2 {
  width: 70px;
  height: 20px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 0.9;

}
.col-fix {
  width: 150px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 0.9;
  vertical-align: top;
}
.par {
  background-color: #f5f5f5;
}
.impar {
  background-color: #e6e6e6;
}
.highlight-col {
  background-color: #ffffff;
}
